@import url('https://fonts.googleapis.com/css?family=Monoton|Roboto');

*
{
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: white;
	background: linear-gradient(to bottom,#021142,#8ad3f1)
}

.jumbotron {
	background-color:transparent;
	color: rgba(255,255,255,1);
}

.help {
	font: normal 45px/1 "Monoton", cursive;
	color:white;
}

h1 {
	font: normal 75px/1 "Monoton", cursive;
	color: rgba(255,255,255,1);
}


